.alert-num-box {
    background-color: #337ab7;
    border: 1px solid #2e6198;
    border-top: 1px solid #337ab7;
    border-left: 0;
    color: #fff;
    padding: 3px 6px;
    font-size: 14px;
    font-weight: 600;
    display: inline;
    border-radius: 0 0 calc(.25rem - 1px) 0 !important;
}

.my-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);	
}

.pdf-thumbnail {
	border-radius: 5px;
    margin-top: 17px;
	width: 170px;
    height: 240px;
	margin: 0 auto;
	margin-top: 26px;
}

.pdf-thumbnail img {
    max-width: 100%;
    max-height: 100%;
}

.thumbnail-hover:hover {
    cursor:pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);    
}

.disabled {
    opacity: 0.5;
}

.disabled input {
    pointer-events: none;
}

.disabled-message {
    display: none;
}

.disabled .disabled-message {
    display: initial;
}

.disabled #field-to-variable-map {
    display: none;
}

/* Bootstrap Helpers */
.is-loading {
    border-color: #bdc3c7;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3Csvg width='20' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(40, 40)'%3E%3Ccircle id='loading-spinner' stroke-dasharray='220' stroke-dashoffset='75' stroke-linecap='round' fill='transparent' stroke='%23bdc3c7' stroke-width='14' cx='0' cy='0' r='33'%3E%3CanimateTransform attributeName='transform' attributeType='XML' type='rotate' from='0' to='360' dur='0.65s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);    
}

.is-empty {
    border-color: #ffc107;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffc107' class='bi bi-exclamation-triangle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/%3E%3C/svg%3E");    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

/* Copied from Alert.css */
.modal-header .close {
    position: absolute;
    top: 20px;
    right: 20px;
}

#external-modules-configure-modal .modal-dialog, #external-modules-configure-modal-record .modal-dialog, #external-modules-configure-modal-preview .modal-dialog {
	max-width: 900px !important;
}
.form-control-custom input[type="text"], .form-control-custom select, .form-control-custom textarea{
    display: block;
    width: 100%;
    height: 32px;
    padding: 4px 8px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control-custom-title{
    font-weight: bold;
    background-color: #337ab7;
    color: #fff;
    padding: 7px;
}

#field-to-variable-map .input-group-text {
    min-width: 250px;
}

#field-to-variable-map .variable-input {
    width: 375px;
}
input.btn {
    border-left-color: transparent;
    padding: .375rem .75rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
	color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: inline-block;
    font-weight: 400;
}

input.btn.btn-rcgreen {
   
	background-color: #41a741;
	border-color: #3d8e3d;
    
}

input.btn.btn-rcgreen:hover {
    background-color: #3d8e3d;
    border-color: #3d8e3d;
    cursor: pointer;
}

input.btn.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

input.btn.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    cursor: pointer;
}
